@inherits LayoutComponentBase

<div class="page">
    <SfSidebar Width="100px" EnableGestures="false" >
        <ChildContent>
            @*<div style="text-align: center;" class="text-content"> Sidebar </div>*@
            <div style="margin:20px; text-align:center">
                <SfButton IconCss="e-icons e-home" CssClass="e-side-buttons"></SfButton>

            </div>
        </ChildContent>
    </SfSidebar>


    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>
        @*<div class="text-content" style="text-align: center;">Main content</div>*@

        @Body
        @*<div class="content px-4">
        </div>*@
    </div>
</div>


<style>
    .e-sidebar {
        background-color: #f8f8f8;
        color: black;
    }

    .text-content {
        font-size: 1.5rem;
        padding: 3rem;
    }

    .main > div {
        padding: 0px !important;
    }

    .e-icons {
        color: #3B3B3B;
    }

    .e-home:before {
        content: '\e901';
        font-size: 40px;
    }

    .e-side-buttons {
        height: 60px;
        width: 60px;
        padding: 2px;
        display:initial;
    }
</style>